body {
    overflow: hidden;
}

.show-grid div {
    /* background-color: #f1f1f1; */
}

.app--main {
    min-height: 485px;
}

.emphasis {
    font-size: 4rem;
    font-weight: bold;
}

h1 {
    text-align: center;
    line-height: 6rem;
}

button {
    text-transform: uppercase;
    border-radius: 5rem!important;
    font-size: 2rem!important;
    min-width: 180px;
}

.btn:focus {
    outline: none;
  }

.input-group-addon {
  border-radius: 0;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.form-control {
  border-radius: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 48px;
  font-size: 2rem;
}

textarea {
  margin: 2rem auto!important;
  border-style: solid!important;
  border-width: 6px!important;
  border-color: #51D2B9!important;
}
