.landingPage--main {
    text-align: center;
}

.landingPage--animation-container {
    height: 30rem;
    width: 30rem;
    border-radius: 30rem; 
    background-color: orange;
    margin: 4rem auto;
}

.landingPage--main button {
    display: block;
    width: 180px;
    text-align: center;
    margin: 0 auto;
}